* {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

#page1 {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #75BBBC;


}

#nav2 {
  height: 7rem;
}

.btn12 {
  position: relative;
  width: 143px;
  height: 55px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  top: 20px;
  border: 2px solid #3A6D6D;
  background-color: #FFFFFF;
  border-radius: 80px;
  color: #3A6D6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}

#image-1 {
  position: absolute;
  width: 25%;
  top: 67%;
}

.btn12:hover {
  background-color: #8bcdce;
}

#icon-image {
  position: relative;
  top: 21px;
  display: inline-block;
  right: 229px;
  height: 58px;
  left: 29%;
}

#big-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 290px;
}

#mainheading {
  position: absolute;
  width: 30rem;
  height: 5rem;
  left: 27rem;
  top: 5rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 95px;
  text-align: center;
  overflow: hidden;
  color: #E65FAA;
}

#minheading {
  position: absolute;
  width: 34rem;
  height: 5rem;
  left: 24rem;
  top: 8rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 95px;
  text-align: center;
  color: #034A50;
  overflow: hidden;
}

#submit {
  display: flex;
  margin: auto;
  margin-top: 8px;
  background: #036A72;
}

.g-3,
.gx-3 {
  --bs-gutter-x: -59rem !important;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 0rem !important;
}

.form-label {
  color: #036A72 !important;
}

.form-control {
  background: rgba(3, 106, 114, 0.39);
}

#phone-nav {
  display: none;
}

@media only screen and (max-width:425px) {
  #phone-nav {

    display: block !important;

    position: relative;
    z-index: 1000;
    top: 28px;
    left: 28px;
  }

  #nav2{
    display: none;
   }



}

/* @media only screen and (max-width:550px){
  .g-3, .gy-3 {
    --bs-gutter-y: 0rem !important;
}
.g-3, .gx-3 {
  --bs-gutter-x: -21rem !important;
}
} */


#navbar {
  height: 30px;
  width: 30px;
  background-color: rgb(58, 109, 109);
  border-radius: 7px;
  position: absolute;
  z-index: 100;
  top: 20px;
}

#hamburger {
  position: relative;
  z-index: 200;
  height: 10px;
  top: 7px;
  left: 9px;
}

#exit {
  position: relative;
  z-index: 300;
  height: 10px;
  top: 7px;
  left: -5px;
  visibility: hidden;
}

#menu {
  height: 199px;
  width: 229px;
  background-color: rgb(58, 109, 109);
  position: relative;
  top: 80px;
  left: 52px;
  padding-top: 33px;
  margin-bottom: 84px;
  border-radius: 32px;
  opacity: 0;
}

.menubar {
  font-family: Outfit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: white;
  padding-top: 7px;
  padding-bottom: 10px;
}

.menubar:hover {
  color: rgb(117, 187, 188);
}